/* css styles */
h1.title {
  text-align: center;
  color: #4169e1;
}

h2 {
    color: #4169e1; /* Replace with your desired color */
}

h3 {
    color: #4169e1; /* Replace with your desired color */
}

h4 {
    color: #4169e1; /* Replace with your desired color */
}

/* Dropdown list styling */
.dropdown-menu > li > a:hover {
    background-color: #E3E9FA; /* Change this to your desired highlight color */
}

